#contact{
    background-color: #f3f3f3;
}
.contact__title{
    padding-top:50px ;
    color: var(--text-color, #252B42);
    font-size: 40px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}
.contact__desc{
    color: var(--second-text-color, #737373);
    text-align: center;
    max-width: 470px;
    margin: 20px auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.contact__cards{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 80px 0; 
    flex-wrap: wrap;
    padding-bottom: 140px;
}

.contact__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    gap: 10px;
    background-color: var(--light-text-color);
    transition: 0.5s;
}

.contact__card-text{
    color: var(--text-color, #252B42);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.contact_card-title{
    color: var(--text-color, #252B42);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.contact_card-btn{
    color: var(--primary-color, #FFA62B);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--primary-color, #FFA62B);
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    gap: 10px;
}

.contact__card:hover{
    background-color: #252B42;
    color: var(--light-text-color);
}

.contact__card:hover .contact__card-text{
    color: var(--light-text-color);
}
.contact__card:hover .contact_card-title{
    color: var(--light-text-color);
}
.contact__card:hover .contact__card-img path{
    fill: var(--light-text-color);
}

.contact__card:hover .contact_card-btn{
    color: var(--light-text-color);
    border: 1px solid var(--light-text-color);
}

@media (max-width:1200px) {
    .contact__cards{
        justify-content: center;
    }
    .contact__card{
        max-width: 75%;
    }
}
@media(max-width:350px){
    .contact__card-text {
            color: var(--text-color, #252B42);
            text-align: center;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
        }
}


.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input, .contact-form textarea{
    padding: 20px;
    outline: none;
    border:r 1px solid #E0E0E0;
}
.contact-form textarea{
    height: 100px;
}
.contact-form select{
    outline: none;
    padding: 20px;
    margin-bottom: 100px;
}
.contact-form-btn{
    max-width: 200px;
    padding: 15px 40px;
    margin: 0 auto 50px;
    border-radius:5px ;

}